.KebabStorageListViewContainer {
    flex-direction: column; 
    flex: 3;
}

.KebabStorageListItem {
    height: 1.7cm; 
    background-color:rgb(250, 218, 77); 
    margin-top: 10px;
    display: flex; 
    flex-direction: row; 
    cursor: pointer;
}

.KebabStorageListImage {
    margin-left: 10px;
    margin-right: 15px;
    align-self: center;
    user-select: none;
}

.KebabStorageListText {
    align-self: center;
    user-select: none; 
    font-size: calc(85% + 0.9vw);
}